$font-stack:    'Quicksand', sans-serif;
$primary-color: brown;

%headers {
    text-align: center;
    font-family: $font-stack;
    background-color:$primary-color;
    font-size: 5vh; 
    font-weight: 900;
  }